<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Images</a>
    <form class="d-flex" action="/search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
    <% @images.each do |image| %>
      <div class="card">
        <img src="<%= url_for(image.image) %>" class="card-img-top" alt="<%= image.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= image.title %></h5>
          <p class="card-text"><%= image.description %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<br>
<%= link_to 'New Image', new_image_path %>

