<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to 'My Image Repo', images_path,class: 'navbar-brand'%>
    <%= link_to 'Upload New Image', new_image_path, class: "btn btn-outline-success"%>
    <%= form_tag images_search_path, method: :get do %>
    <%= text_field_tag :search, nil, placeholder: "Search", class: "form-control-me-2"%>
    <%= submit_tag "Search", class: "btn btn-outline-success"%>
    <% end %>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
     <div class="col-2">
    <%# show error message if no images found %>
    <% if @images.length === 0 %>
    <h1 class="text-center">Image Not Found<br>Please Search Again</h1>
    <% else @images.each do |image| %>   
        <div class="card">
            <img src="<%= url_for(image.image) %>" class="card-img-top" alt="<%= image.title %>">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= image.title %></h5>
                    <p class="card-text text-left"><%= image.description %></p>
                </div>
        </div>
        <% end %>
    <% end %>
    </div>
  </div>
</div>

