<p id="notice"><%= notice %></p>

<p class="text-center">
  <strong>Title:</strong> 
  <%= @image.title %>
  
</p>

<div>
  <p class="text-center">
  <%=image_tag(@image.image)%>
  </p>
</div>

<br>
<p class="text-center">
<strong>Description:</strong>
  <%= @image.description %>
</p>
<div>
  <p class="h4 text-center" >
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Home', images_path %> |
  <%= link_to 'Delete', image_path(@image), :method => :delete, data: {confirm: "Are you sure?"}%>
  </p>
</div>